.navWrapper {
    animation-duration: .5s;
}
.navWrapper ul li::after {
    content: "";
    display: block;
    width: 5px;
    height: 2px;
    background: rgba(255, 253, 0, 1);
    position: relative;
    left: 50%;
    bottom: 0;
    transition: all .3s;
} 
.navWrapper ul li:hover::after {
    width: 100%;
    left: 0;
}