.bg-special-violet {
    background: #480CA8;
}
.bg-special-blue {
    background: #4895EF;
}

.bg-special-lightblue {
    background: #3F37C9;
}

.color-special-element {
    color: #4CC9F0;
}
.bg-special-element {
    background: #4CC9F0;
}

/* TEAL-400 ES #2dd4bf */