.navbar ul li::after {
    content: "";
    display: block;
    width: 5px;
    height: 2px;
    background: white;
    position: relative;
    left: 50%;
    bottom: 0;
    transition: all .3s;
} 
.navbar ul li:hover::after {
    width: 100%;
    left: 0;
}  

.navbar h1 {
    font-family: 'Roboto', sans-serif;
    font-style: oblique;
}