:root {
  font-size: 16px;
  -webkit-tap-highlight-color: rgb(45, 212, 191, .2);
}
/* ----- Scroll bar customization ----- */
body::-webkit-scrollbar {
  width: 13px;
  background: rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar-thumb {
  background: #2dd4bf;
}

/* ----- Header ----- */
#header {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  top: 0;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 83%, rgba(45,212,191,1) 13%);
  background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 83%, rgba(45,212,191,1) 13%);
  background: linear-gradient(45deg, rgba(0,0,0,1) 83%, rgba(45,212,191,1) 13%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#2dd4bf",GradientType=1);
  height: 100px;
  display: flex;
  align-items: center;
}

.bgHoverText {
  position: relative;
}

.bgHoverText::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #5cfae5;
  z-index: -1;
  transition: transform .3s ease;
}

.bgHoverText:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.bt-teal-400 {
  background-color: #04f06a;
}


/*#ffd200 yellow*/