:root {
  font-size: 16px;
  -webkit-tap-highlight-color: rgb(45, 212, 191, .2);
}
/* ----- Scroll bar customization ----- */
body::-webkit-scrollbar {
  width: 13px;
  background: rgb(0, 0, 0, .9);
}
body::-webkit-scrollbar-thumb {
  border: 1px solid grey;
  border-radius: 10px;
  background: rgba(255, 253, 0, 1);
}
body {
  background-color: rgba(247, 247, 247, 1);
}

.bgHoverText {
  position: relative;
}

.bgHoverText::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: black;
  z-index: -1;
  transition: transform .3s ease;
}

.bgHoverText:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.bgHoverText:hover {
  color: rgba(255, 253, 0, 1);
}

.bt-teal-400 {
  background-color: #04f06a;
}

.special-yellow {
  color: rgba(255, 253, 0, 1);
}
.bg-special-yellow {
  background-color: rgba(255, 253, 0, 1);
}

.special-black {
  color: rgba(26, 26, 26, 1);
}
.bg-special-black {
  background-color: rgba(26, 26, 26, 1);
}

.special-grey {
  color: rgba(247, 247, 247, 1);
}
.bg-special-grey {
  background-color: rgba(247, 247, 247, 1);
}

.border-spec-yellow {
  border-color: rgba(255, 253, 0, 1);
}


/*#ffd200 yellow*/

/*rgba(255, 253, 0, 1) UI yellow*/
/*rgba(26, 26, 26, 1) UI black*/
/*rgba(247, 247, 247, 1) UI grey*/
/* 
webkit-box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%); */