:root {
    font-size: 16px;
}


/* #header .reactive--container {
    animation: App-logo-go 2s ;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes App-logo-go {
    0% {
      transform: translate(-40vw, 0);
    }
    50% {
      transform: translate(30vw, 0);
    }
    100% {
    transform: translate(-40vw, 0);
    }
  } */